# Project Generator
# Create README
.project.sh

# Environment
.env
.venv

# Data files
data/imports/*
data/exports/*
!data/imports/.gitkeep
!data/exports/.gitkeep

# Models
src/models/*
!src/models/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.eggs/
*.egg-info/
build/
dist/

# Logs
*.log
logs/

# OS generated
.DS_Store
._*

# llama.cpp artifacts
gguf
*.gguf
